<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Currency Exchange</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <link rel="stylesheet" type="text/css" href="/styles/header.css" />
    <link rel="stylesheet" type="text/css" href="/styles/marquee.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="header">
      <div class="container header-container">
        <div class="header-logo">
          <img src="/images/light-logo.png" class="logo" />
          <h1 class="header-title">Pedro's Exchange</h1>
        </div>

        <div class="header-content">
          <div class="header-link">
            <a href="#currency-convertor-section" class="header-font">Currency Converter</a>
            <a href="#popular-conversions-section" class="header-font">Popular Conversions</a>
          </div>
          <div class="main-currency">
            <select id="main-currency" name="currencies" class="main-currency-select">
              <% currencyList.forEach((currency) => { %>
              <option value="<%= currency.key %>" class="main-currency-options"><%= currency.key %></option>
              <% }); %>
            </select>
          </div>
        </div>
      </div>

      <section class="marquee-section">
        <div class="marquee-container">
          <% exchangeRates.forEach((rate) => { %>
          <span class="marquee-text"> <%= `${rate.label}: ${rate.value}` %></span>
          <% });%>
        </div>
      </section>
    </nav>

    <div class="container">
      <section id="currency-convertor-section"></section>
      <section id="popular-conversions-section"></section>
    </div>
    <script type="text/javascript" src="/script.js"></script>
  </body>
</html>
