:root {
  --color-background: #000066;
  --color-nav-background: #00004d;
  --color-border: #d9d9d9;
  --color-convertor-font: #2e3c57;
  --color-font: #ffffff;
  --color-light-blue: #008ae6;
  --color-light-blue-hover: #1aa3ff;
  --color-convertor-hover: #f5f3f3;
  --color-currency-title: #595959;
  --gap-md: 16px;
  --gap-lg: 32px;
  --margin-md: 16px;
  --padding-sm: 8px;
  --padding-md: 24px;
  --padding-lg: 32px;
  --padding-xl: 48px;
  --text-sm: 8px;
  --text-md: 16px;
  --text-lg: 24px;
  --text-xl: 32px;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", serif;
  margin: 0;
  background-color: var(--color-background);
}

/* remove spin box https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

.arrows-logo {
  width: 33px;
  height: 30px;
}

.container {
  max-width: 1200px;
  height: auto;
  margin-inline: auto;
}

.convertor-button {
  background-color: var(--color-light-blue);
  color: var(--color-font);
  border: 1px solid;
  border-radius: 10px;
  width: 250px;
  font-size: var(--text-md);
  font-weight: 600;
}

.convertor-button:hover {
  background-color: var(--color-light-blue-hover);
  cursor: pointer;
}

.convertor-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-font);
  border-radius: 24px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: var(--padding-lg);
  width: 100%;
}

.convertor-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-md);
}

.convertor-currency {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: 10px;
}

.convertor-currency:hover {
  background-color: var(--color-convertor-hover);
  cursor: pointer;
}

.convertor-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--padding-lg);
}

.convertor-result {
  padding-inline: var(--padding-sm);
}

.convertor-result-amount {
  font-size: var(--text-lg);
  color: var(--color-convertor-font);
  margin: 0;
  font-weight: 600;
}

.convertor-result-content {
  display: flex;
  justify-content: space-between;
}

.convertor-result-text {
  font-size: var(--text-xl);
  color: var(--color-convertor-font);
  margin: 0;
  font-weight: 600;
}

.convertor-section {
  margin-top: 128px;
}

.convertor-title {
  color: var(--color-font);
  font-size: var(--text-xl);
}

.currency-content {
  display: flex;
  flex-direction: column;
  padding: var(--padding-md);
}

.currency-convertor-section {
  margin-top: 128px;
}

.currency-input {
  background-color: transparent;
  color: var(--color-convertor-font);
  border: none;
  outline: none;
  font-weight: 600;
  font-size: var(--text-md);
  padding: 4px;
}

.currency-input::placeholder {
  color: var(--color-convertor-font);
}

.currency-title {
  color: var(--color-currency-title);
  font-size: var(--text-md);
  margin: 0px;
  padding-left: 4px;
}

.currency-select {
  background-color: transparent;
  color: var(--color-convertor-font);
  border: none;
  outline: none;
  font-weight: 600;
  font-size: var(--text-md);
  padding-top: 4px;
  padding-bottom: 3px;
}

.header {
  position: sticky;
  background-color: var(--color-nav-background);
  height: 100px;
  width: 100%;
  top: 0px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-font {
  font-size: var(--font-md);
  font-weight: 500;
  text-decoration: none;
  color: var(--color-font);
  border-radius: 5px;
  padding: var(--padding-sm);
  border: 1px solid transparent;
}

.header-font:hover {
  background-color: #ffffff15;
}

.header-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-lg);
}

.header-logo {
  display: flex;
  align-items: center;
  gap: var(--gap-lg);
}

.header-title {
  font-size: var(--text-lg);
  color: var(--color-font);
}

.logo {
  height: 100px;
}

.marquee-section {
  width: 100%;
  background-color: var(--color-font);
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  padding-block: 2px;
}

.marquee-container {
  display: flex;
  align-items: center;
  width: 100%;
  animation: marquee 30s linear infinite;
}

.marquee-text {
  white-space: nowrap;
  font-size: var(--text-md);
  color: var(--color-convertor-font);
}

.marquee-text::after {
  content: "|";
  padding-inline: 50px;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.switch-currency-button {
  border-radius: 5px;
  border: 1px solid var(--color-border);
  background-color: var(--color-font);
  padding: var(--padding-sm);
}

.switch-currency-button:hover {
  background-color: var(--color-convertor-hover);
  cursor: pointer;
}

.teste {
  display: flex;
  flex-direction: column;
}
