:root {
  --color-background: #000066;
  --color-nav-background: #00004d;
  --color-border: #d9d9d9;
  --color-convertor-font: #2e3c57;
  --color-font: #ffffff;
  --color-light-blue: #008ae6;
  --color-light-blue-hover: #1aa3ff;
  --color-convertor-hover: #f5f3f3;
  --color-currency-title: #595959;
  --color-nav-hover: #ffffff15;
  --color-shadow: #1d1d1d;
  --gap-md: 16px;
  --gap-lg: 32px;
  --gap-xl: 128px;
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 24px;
  --space-lg: 32px;
  --space-xl: 48px;
  --text-sm: 12px;
  --text-md: 16px;
  --text-lg: 24px;
  --text-xl: 32px;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: var(--color-background);
}

/* remove spin box https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-font);
  border-radius: 24px;
  padding: var(--space-lg);
  width: 100%;
}

.cards-title {
  color: var(--color-font);
  font-size: var(--text-xl);
}

.container {
  max-width: 1200px;
  height: auto;
  margin-inline: auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
  padding-block: var(--gap-xl);
}
